Swimflows2.json
[{"id":"c6ec099b.d0a528","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"167c00f0.02636f","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"2e06031f.80a85c","type":"mqtt-broker","d":true,"name":"Local","broker":"localhost","port":"1883","clientid":"","usetls":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""},{"id":"ce8f7b0e.9a1408","type":"mqtt-broker","d":true,"name":"hivemq","broker":"broker.hivemq.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e6f4380d.136c98","type":"mqtt-broker","d":true,"name":"","broker":"mqtt.mysmarthome.vn","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2f9fb010.9a2e6","type":"mqtt-broker","d":true,"name":"","broker":"mqtt.mysmarthome.vn","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"eab05b0.f5f1fa8","type":"MySQLdatabase","name":"LoraData","host":"sql151.main-hosting.eu","port":"3306","db":"u477330510_familymercier","tz":"GMT","charset":"UTF8"},{"id":"910435ec.a37f08","type":"ttn app","appId":"famillymerciersensors","accessKey":"ttn-account-v2.7dMPlHapa8njwgYloex64Da3IRGE6WUHanylwRBlYPA","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"21ab2812.542428","type":"ui_tab","name":"familymercier","icon":"dashboard","disabled":false,"hidden":false},{"id":"f998a525.838018","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":30,"sy":30,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d374f793.5fd028","type":"ui_group","name":"Swimming Pool","tab":"21ab2812.542428","order":1,"disp":true,"width":29,"collapse":false},{"id":"380a07db.e60488","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":5,"width":1,"height":1},{"id":"7b91d193.210d6","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":6,"width":1,"height":1},{"id":"acd963de.d84f2","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":7,"width":1,"height":1},{"id":"8d565eb4.afb88","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":8,"width":1,"height":1},{"id":"5b2c96f5.ec4a58","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":9,"width":1,"height":1},{"id":"56629700.da0638","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":10,"width":1,"height":1},{"id":"abce4b4d.54c9c8","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":12,"width":15,"height":1},{"id":"13ecffdd.6ccdd","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":13,"width":15,"height":1},{"id":"35f9871c.80e5a8","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":14,"width":15,"height":1},{"id":"d139d9ee.882a78","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":15,"width":15,"height":1},{"id":"c4836240.c21a6","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":16,"width":15,"height":1},{"id":"a3dbf16d.1ea46","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":17,"width":15,"height":1},{"id":"b63bf01c.af3a","type":"debug","z":"c6ec099b.d0a528","name":"vers terminal >","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":390,"y":120,"wires":[]},{"id":"48e1dc27.b945b4","type":"function","z":"c6ec099b.d0a528","name":"Decodeur Payload","func":"//data are received as a table in msg.payload[]\n//they are pushed to the database using msg.xxx\n//the original value is Hexa \n// ajouter un auto-test : ajouter organiser en fonctions et tester les fonctions\n// utiliser GIT pour passer les progs au serveur\n// les données sont typées pour réduire au minimum la taille de la base\n\nptime=msg.metadata.time;//a char with the date and time\n//version according to the source - max 255 - 0 when the payload is a test - 1 from MacBook\n// 2 from raspberry, 3 fix position and time\npversion = 3;\n \n// test to verify the consistency of the payload\nflag01 = msg.payload[0];//expected value 01\nflag02 = msg.payload[3];//expected value 02\nflag03 = msg.payload[5];//expected value 03\nflag07 = msg.payload[9];//expected value 07\nflag0B = msg.payload[12];//expected value 0B hex or 11 decimal\nflag0F = msg.payload[17];//expected value 0F hex or 14 decimal\nflag14 = msg.payload[19];//expected value 14 hex or 20 decimal\nflag17 = msg.payload[24];//expected value 17 hex or 23 decimal\n \nif ((flag01 == 1) && (flag02 == 2) && (flag03 == 3) && (flag07 == 7) && (flag0B == 11)&& (flag0F == 15) && (flag14 == 20) && (flag17 == 23))  {\n    ptemperature = (msg.payload[1]*256 + msg.payload[2]);//degre x 10, to be divided by 10\n    phumidity = msg.payload[4];//HR\n    pvoltage = (msg.payload[10]*256 + msg.payload[11]);//mV\n    // pressure mBar rounded value\n    ppressure = Math.round((msg.payload[20]*16777216 + msg.payload[21]*65536 + msg.payload[22]*256 + msg.payload[23])/1000);\n    pcount = (msg.payload[25]*16777216 + msg.payload[26]*65536 + msg.payload[27]*256 + msg.payload[28])/1000;\n\n\n    //send data using SQL using Topic\n    var newMsg = {\n    \"topic\":\"INSERT INTO ELT2Piscine (version,temperature,humidity,voltage,pressure,count,time)VALUES (\"+\"\\'\"+pversion+\"\\',\\'\"+ptemperature+\"\\',\\'\"+phumidity+\"\\',\\'\"+pvoltage+\"\\',\\'\"+ppressure+\"\\',\\'\"+pcount+\"\\',\\'\"+ptime+\"\\')\"\n    };\n    newMsg.temperature = ptemperature/10;\n    newMsg.humidity = phumidity;\n    newMsg.voltage = pvoltage;\n    newMsg.pressure = ppressure;\n    return newMsg;\n} else {\n    //do nothing if the payload is not correct\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":200,"wires":[["9181a068.e4f85","ed5b127a.57056","3daa3ce0.4b8e34","e79b3bf.10400c8","798bd8a.65e8c28","dbccc2b6.ab416"]]},{"id":"9181a068.e4f85","type":"debug","z":"c6ec099b.d0a528","d":true,"name":"","active":true,"tosidebar":false,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":680,"y":260,"wires":[]},{"id":"6642ba50.2e8634","type":"ttn uplink","z":"c6ec099b.d0a528","name":"temperature","app":"910435ec.a37f08","dev_id":"temperature","field":"","x":110,"y":200,"wires":[["b63bf01c.af3a","48e1dc27.b945b4","ba60c5ae.4bc448"]]},{"id":"ed5b127a.57056","type":"mysql","z":"c6ec099b.d0a528","mydb":"eab05b0.f5f1fa8","name":"","x":860,"y":200,"wires":[[]]},{"id":"3daa3ce0.4b8e34","type":"ui_gauge","z":"c6ec099b.d0a528","name":"","group":"d374f793.5fd028","order":1,"width":7,"height":6,"gtype":"gage","title":"SPool temperature","label":"°C","format":"{{msg.temperature}}","min":0,"max":"40","colors":["#ca3838","#00b9e6","#42ca38"],"seg1":"12","seg2":"22","x":690,"y":40,"wires":[]},{"id":"e79b3bf.10400c8","type":"ui_gauge","z":"c6ec099b.d0a528","name":"","group":"d374f793.5fd028","order":2,"width":7,"height":6,"gtype":"gage","title":"humidity","label":"%HR","format":"{{msg.humidity}}","min":"0","max":"100","colors":["#d5f00c","#00e605","#109cf1"],"seg1":"30","seg2":"60","x":660,"y":80,"wires":[]},{"id":"798bd8a.65e8c28","type":"ui_gauge","z":"c6ec099b.d0a528","name":"","group":"d374f793.5fd028","order":3,"width":7,"height":6,"gtype":"gage","title":"Sensor Voltage","label":"mV","format":"{{msg.voltage}}","min":"3500","max":"3700","colors":["#b50010","#e6a600","#00b500"],"seg1":"3550","seg2":"3600","x":680,"y":120,"wires":[]},{"id":"dbccc2b6.ab416","type":"ui_gauge","z":"c6ec099b.d0a528","name":"","group":"d374f793.5fd028","order":4,"width":7,"height":6,"gtype":"gage","title":"Atm Pressure","label":"units","format":"{{pressure}}","min":"930","max":"1050","colors":["#0050b5","#a9a99a","#effc04"],"seg1":"980","seg2":"1010","x":680,"y":160,"wires":[]},{"id":"ba60c5ae.4bc448","type":"function","z":"c6ec099b.d0a528","name":"Decodeur temperature","func":"//data are received as a table in msg.payload[]\n//to send temperature using topic to the chart\n//comment for GIT a new modif for git\n\n// test to verify the consistency of the payload\nflag01 = msg.payload[0];//expected value 01\nflag02 = msg.payload[3];//expected value 02\nflag03 = msg.payload[5];//expected value 03\nflag07 = msg.payload[9];//expected value 07\nflag0B = msg.payload[12];//expected value 0B hex or 11 decimal\nflag0F = msg.payload[17];//expected value 0F hex or 14 decimal\nflag14 = msg.payload[19];//expected value 14 hex or 20 decimal\nflag17 = msg.payload[24];//expected value 17 hex or 23 decimal\n \nif ((flag01 == 1) && (flag02 == 2) && (flag03 == 3) && (flag07 == 7) && (flag0B == 11)&& (flag0F == 15) && (flag14 == 20) && (flag17 == 23))  {\n    ptemperature = (msg.payload[1]*256 + msg.payload[2]);//degre x 10, to be divided by 10\n    var newMsg = {\"payload\": ptemperature/10};\n    return newMsg;\n} else {\n    //do nothing if the payload is not correct\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":320,"wires":[["883fa50b.8d7ae8"]]},{"id":"883fa50b.8d7ae8","type":"ui_chart","z":"c6ec099b.d0a528","name":"","group":"d374f793.5fd028","order":11,"width":14,"height":6,"label":"air temperature","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":680,"y":320,"wires":[[]]}]