SwimFlows.json
[{"id":"167c00f0.02636f","type":"tab","label":"ELSYS ELT1 Sensor","disabled":false,"info":""},{"id":"2e06031f.80a85c","type":"mqtt-broker","d":true,"name":"Local","broker":"eu1.cloud.thethings.industries","port":"8883","tls":"63ff933e.c3513c","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"eab05b0.f5f1fa8","type":"MySQLdatabase","name":"Server Database","host":"sql151.main-hosting.eu","port":"3306","db":"u477330510_familymercier","tz":"GMT","charset":"UTF8"},{"id":"21ab2812.542428","type":"ui_tab","name":"familymercier","icon":"dashboard","disabled":false,"hidden":false},{"id":"f998a525.838018","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":30,"sy":30,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"d374f793.5fd028","type":"ui_group","name":"Swimming Pool","tab":"21ab2812.542428","order":1,"disp":true,"width":"29","collapse":false},{"id":"380a07db.e60488","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":5,"width":1,"height":1},{"id":"7b91d193.210d6","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":6,"width":1,"height":1},{"id":"acd963de.d84f2","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":7,"width":1,"height":1},{"id":"8d565eb4.afb88","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":8,"width":1,"height":1},{"id":"5b2c96f5.ec4a58","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":9,"width":1,"height":1},{"id":"56629700.da0638","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":10,"width":1,"height":1},{"id":"abce4b4d.54c9c8","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":12,"width":15,"height":1},{"id":"13ecffdd.6ccdd","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":13,"width":15,"height":1},{"id":"35f9871c.80e5a8","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":14,"width":15,"height":1},{"id":"d139d9ee.882a78","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":15,"width":15,"height":1},{"id":"c4836240.c21a6","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":16,"width":15,"height":1},{"id":"a3dbf16d.1ea46","type":"ui_spacer","name":"spacer","group":"d374f793.5fd028","order":17,"width":15,"height":1},{"id":"ac8568a2.d9e0e8","type":"mqtt-broker","name":"","broker":"eu1.cloud.thethings.industries","port":"8883","tls":"63ff933e.c3513c","clientid":"","usetls":true,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":"42"},{"id":"63ff933e.c3513c","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true},{"id":"764ebeb9.57d05","type":"mqtt in","z":"167c00f0.02636f","name":"Sensors > MQTT","topic":"#","qos":"1","datatype":"json","broker":"ac8568a2.d9e0e8","nl":false,"rap":true,"rh":0,"x":120,"y":180,"wires":[["745facde.a97ef4"]]},{"id":"745facde.a97ef4","type":"function","z":"167c00f0.02636f","name":"SQL decoder","func":"//(see description for more info)\n\n//decoding the payload --------------------------------------------------------------\n\n//pversion = version according to the source - max 255 - 0 when the payload is a test - 1 from MacBook\n// 2 from raspberry // alim extérieure 24V\npversion = 8;\n\nptime=msg.payload.received_at;//a char with the date and time\nflag01 = msg.payload.uplink_message.decoded_payload.bytes[0];//expected value 01\ntemp1 = msg.payload.uplink_message.decoded_payload.bytes[1];//temp part 1\ntemp2 = msg.payload.uplink_message.decoded_payload.bytes[2];//temp part 2\nflag02 = msg.payload.uplink_message.decoded_payload.bytes[3];//expected value 02\nhumidity = msg.payload.uplink_message.decoded_payload.bytes[4];//humidity\nflag03 = msg.payload.uplink_message.decoded_payload.bytes[5];//expected value 03, not used\nflag07 = msg.payload.uplink_message.decoded_payload.bytes[9];//expected value 07\nalim1 = msg.payload.uplink_message.decoded_payload.bytes[10];//internal battery voltage byte 1\nalim2 = msg.payload.uplink_message.decoded_payload.bytes[11];//internal battery voltage byte 2\nflag08 = msg.payload.uplink_message.decoded_payload.bytes[12];//expected value 08\nanalog1 = msg.payload.uplink_message.decoded_payload.bytes[13];//analogic entry part 1\nanalog2 = msg.payload.uplink_message.decoded_payload.bytes[14];//analogic entry part 2\nflag0F = msg.payload.uplink_message.decoded_payload.bytes[15];//expected value 0F hex or 14 decimal, not used\nflag14 = msg.payload.uplink_message.decoded_payload.bytes[17];//expected value 14 hex or 20 decimal\npress1 = msg.payload.uplink_message.decoded_payload.bytes[18];//pressure part 1\npress2 = msg.payload.uplink_message.decoded_payload.bytes[19];//pressure part 2\npress3 = msg.payload.uplink_message.decoded_payload.bytes[20];//pressure part 3\npress4 = msg.payload.uplink_message.decoded_payload.bytes[21];//pressure part 4\nflag18 = msg.payload.uplink_message.decoded_payload.bytes[22];//expected value 18 hex or 24 decimal, not used\n\nif ((flag01 == 1) && (flag02 == 2) && (flag03 == 3) && (flag07 == 7) && (flag08 == 8)&& (flag0F == 15) && (flag14 == 20) && (flag18 == 24))  {\n    ptemperature = (temp1*256 + temp2);//degre x 10, to be divided by 10\n    phumidity = humidity;//HR\n    pvoltage = (alim1*256 + alim2);//mV\n    ppressure = Math.round((press1*16777216 + press2*65536 + press3*256 + press4)/1000);\n    panalog = (analog1*256 + analog2);//mv\n    pdate = Date.now();//the date of the recording\n    phour = \"rien\";//the time of the recording\n\n    //define the SQL fetch to be sent to Topic, réorganiser les variables car pas clair!\n    var newMsg1 = {\n    \"topic\":\"INSERT INTO ELT2Piscine (version,temperature,humidity,voltage,pressure,waterLevel,time,date,hour)VALUES (\"+\"\\'\"+pversion+\"\\',\\'\"+ptemperature+\"\\',\\'\"+phumidity+\"\\',\\'\"+pvoltage+\"\\',\\'\"+ppressure+\"\\',\\'\"+panalog+\"\\',\\'\"+ptime+\"\\',\\'\"+pdate+\"\\',\\'\"+phour+\"\\')\"\n        };\n    \n    //data for gage\n    newMsg1.temperature = ptemperature/10;\n    newMsg1.humidity = phumidity;\n    newMsg1.voltage = pvoltage;\n    newMsg1.pressure = ppressure;\n    //newMsg1.analog = panalog;\n    var newMsg2 = {\"payload\": ((panalog-118)/16)-268};\n    var newMsg3 = {\"payload\": ptemperature/10};\n    \n        \n    return [newMsg1, newMsg2, newMsg3];\n    \n} else {\n    //do nothing if the payload is not correct\n    node.error(\"From SQL decoder : the payload is not conform. One or more unexpected values. No data sent to the database. Waiting for the next payload.\");\n}\n","outputs":3,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":180,"wires":[["fa7bb5c6.719018","1a166e31.67ca72","ca6627fd.8c4428","c5333233.25f16","8c68d637.3888e8","502e1849.88b1d8"],["f2231d5d.18d7a","36e57f24.f60fe"],["73cd0561.7fd18c"]],"info":"/decoder prog for Elsys ELT-2-HP - Fabrice Mercier - may 11, 2021\n//used for a swiming pool to measure water level, external temperature, atm pressure\n//humity, voltage of the battery\n//the sensor uses Lorawan network and pushes data to the things industries, the broker\n//Data are received from the broker as a JSON file in the msg.payload\n//this prog is available in github : github.com/MercierFab/NodeRed.git\n//you can use at it is or correct it :-)\n//to be done later :\n// ajouter un auto-test : ajouter organiser en fonctions et tester les fonctions\n"},{"id":"fa7bb5c6.719018","type":"debug","z":"167c00f0.02636f","name":"Debug window & console","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":60,"wires":[]},{"id":"1a166e31.67ca72","type":"mysql","z":"167c00f0.02636f","mydb":"eab05b0.f5f1fa8","name":"ELT2Piscine","x":630,"y":100,"wires":[["e39e4efa.42a54"]]},{"id":"ca6627fd.8c4428","type":"ui_gauge","z":"167c00f0.02636f","name":"","group":"d374f793.5fd028","order":1,"width":7,"height":6,"gtype":"gage","title":"SPool temperature","label":"°C","format":"{{msg.temperature}}","min":0,"max":"40","colors":["#ca3838","#00b9e6","#42ca38"],"seg1":"12","seg2":"22","x":660,"y":160,"wires":[]},{"id":"502e1849.88b1d8","type":"ui_gauge","z":"167c00f0.02636f","name":"","group":"d374f793.5fd028","order":2,"width":7,"height":6,"gtype":"gage","title":"humidity","label":"%HR","format":"{{msg.humidity}}","min":"0","max":"100","colors":["#d5f00c","#00e605","#109cf1"],"seg1":"30","seg2":"60","x":630,"y":200,"wires":[]},{"id":"8c68d637.3888e8","type":"ui_gauge","z":"167c00f0.02636f","name":"","group":"d374f793.5fd028","order":3,"width":7,"height":6,"gtype":"gage","title":"Sensor Voltage","label":"mV","format":"{{msg.voltage}}","min":"3500","max":"3700","colors":["#b50010","#e6a600","#00b500"],"seg1":"3550","seg2":"3600","x":650,"y":240,"wires":[]},{"id":"c5333233.25f16","type":"ui_gauge","z":"167c00f0.02636f","name":"","group":"d374f793.5fd028","order":4,"width":7,"height":6,"gtype":"gage","title":"Atm Pressure","label":"units","format":"{{pressure}}","min":"930","max":"1050","colors":["#0050b5","#a9a99a","#effc04"],"seg1":"980","seg2":"1010","x":650,"y":280,"wires":[]},{"id":"f2231d5d.18d7a","type":"ui_chart","z":"167c00f0.02636f","name":"","group":"d374f793.5fd028","order":17,"width":"19","height":"9","label":"Water level","chartType":"line","legend":"false","xformat":"dd HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":true,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":400,"wires":[[]]},{"id":"73cd0561.7fd18c","type":"ui_chart","z":"167c00f0.02636f","name":"","group":"d374f793.5fd028","order":18,"width":"9","height":"7","label":"temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":650,"y":480,"wires":[[]]},{"id":"8f20dcbe.e07dc","type":"comment","z":"167c00f0.02636f","name":"Information","info":"Elsys ELT1 sensor is used for a swiming pool\nto measure :\n> air temperature\n> atmospheric pressure\n> relative pressure\n> level of the water\n> voltage of the sensor's battery\n\nThe sensor is in a swimming pool and pushes the data to\nthe things stack used as a MQTT broker.\n[](familymercier.eu1.cloud.thethings.industries.\nThen to Nodered with a Json file.\n\nNode-red, hosted on a Rasberry PI4, is earing the broker and send data to a SQL database server hosted in hostinger.com\nA node-red dashboard is also available.\n\nData are useful for an internet site\nfamilymercier.com for the calculation of the maintenance of the swimming pool.\n\nImprovement to be done :\n> measure the temperature of the water (need a second sensor)\n> auto-test the Javascript program (send automatically good and bad payload and verify outputs)\n> the SQL Database link is sometime other, to be fixed.\n>improve Safety\n\nThis program is available on Github.\ngithub.com/MercierFab/NodeRed.git\nyou can use it as it is or correct it.\n\nF.Mercier - May 12, 2021.","x":260,"y":80,"wires":[]},{"id":"36e57f24.f60fe","type":"debug","z":"167c00f0.02636f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":360,"wires":[]},{"id":"e39e4efa.42a54","type":"debug","z":"167c00f0.02636f","name":"","active":true,"tosidebar":true,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":890,"y":100,"wires":[]}]